timeout=0

menuentry "postmarketOS" {
	linux /vmlinuz quiet splash plymouth.ignore-serial-consoles plymouth.prefer-fbcon console=tty0 earlycon=uart8250,mmio32,0xff1a0000 console=ttyS2,115200 panic=10 coherent_pool=1M loglevel=1 mem_sleep_default=s2idle pmos.force-partition-resize fw_devlink=off pmos_boot_uuid=B704-0E35 pmos_root_uuid=c3fc604a-81ea-45fc-acfa-0e420507526c pmos_rootfsopts=defaults
	
	initrd /initramfs
	devicetree /rk3399-pinephone-pro-pinedio.dtb
}
